<link rel="stylesheet" href="/jquery-ui-1.8.17.custom.css">

<div id="datepicker"></div>

<div id='hour_picker'>
<table border="1">
<tr>
<th class = 'selected_date'></th>
</tr>
<tr class = 'cal_table'>
<td type ="button" onclick = "nextPage('0700', this.id)" class = '0700' id = "7:00 am">7:00 am</td>
</tr>
<tr class = "cal_table2">
<td type ="button" onclick = "nextPage('0800', this.id)" class = '0800' id = "8:00 am">8:00 am</td>
</tr>
<tr class = "cal_table">
<td type ="button" onclick = "nextPage('0900', this.id)" class = '0900' id = "9:00 am">9:00 am</td>
</tr>
<tr class = "cal_table2">
<td type ="button" onclick = "nextPage('1000', this.id)" class = '1000' id = "10:00 am">10:00 am</td>
</tr>
<tr class = "cal_table" id = '5'>
<td type ="button" onclick = "nextPage('1100', this.id)" class = '1100' id = "11:00 am">11:00 am</td>
</tr>
<tr class = "cal_table2" id = '6'>
<td type ="button" onclick = "nextPage('1200', this.id)" class = '1200' id = "12:00 pm">12:00 pm</td>
</tr>
<tr class = "cal_table" id = '7'>
<td type ="button" onclick = "nextPage('1300', this.id)" class = '1300' id = "1:00 pm">1:00 pm</td>
</tr>
<tr class = "cal_table2" id = '8'>
<td type ="button" onclick = "nextPage('1400', this.id)" class = '1400' id = "2:00 pm">2:00 pm</td>
</tr>
<tr class = "cal_table2" id = '8'>
<td type ="button" onclick = "nextPage('1500', this.id)" class = '1500' id = "3:00 pm">3:00 pm</td>
</tr>
<tr class = "cal_table2" id = '8'>
<td type ="button" onclick = "nextPage('1600', this.id)" class = '1600' id = "4:00 pm">4:00 pm</td>
</tr>
<tr class = "cal_table2" id = '8'>
<td type ="button" onclick = "nextPage('1700', this.id)" class = '1700' id = "5:00 pm">5:00 pm</td>
</tr>
<tr class = "cal_table2" id = '8'>
<td type ="button" onclick = "nextPage('1800', this.id)" class = '1800' id = "6:00 pm">6:00 pm</td>
</tr>

<tr class = "cal_table3">
<td class = 'cal_previous'><form method='link' action="<% root_path %>"><button class='btn'>&#60;&#60; previous page</button></form></td>
</tr>
</table>
</div>

<div id='cal_previous2'><button class='btn' onclick='prevPage();'>&#60;&#60; previous page</button></div><br />

            <div id="appointment_form">
              <%=form_tag(@appointments) %> 
                            
                            <br />
                            <label for="schedules_date">scheduled date</label><br /><br />
                            <div id = "final_date"><h2></h2></div>
                            <input id="schedules_date" name="appointments[date]" type="hidden" />
                            <br />
                            <br />
                            
                            <label for="schedules_hour">scheduled hour</label><br /><br />
                            <div id = "final_hour"><h2></h2></div>
                            <input id="schedules_hour" name="appointments[hour]" type="hidden" />
                            <br />
                            <br />

                            <input type="submit" name="btn" value="Submit" class = 'btn' id="subData" style="display:none;">

</div>
      
<div id = "hidden_hour_div"></div>  

	<script src="/jquery.ui.widget.min.js"></script>
	<script src="/jquery.ui.datepicker.min.js"></script>
	<script src="/appointment.js"></script>


